.container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  max-width: 800px;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex: 1;

    h4 {
      font-weight: 300;
      font-size: 16px;
    }

    .counter {
      font-size: 24px;
      font-weight: bold;
    }
  }
}