.card {
  background-color: var(--foreground-color);
  padding: 20px;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 6px;
  border: solid 1px var(--border-color);
}